@tailwind base;
@tailwind components;
@tailwind utilities;

.resize {
    width: fit-content !important;
    padding-right: 10px;
  }

/*scroll styling*/
::-webkit-scrollbar {
  width: 1px !important; 
  height: 0px !important;
  border-radius: 5px !important;
}  