@tailwind base;
@tailwind components;
@tailwind utilities;

.resize {
    width: fit-content !important;
    padding-right: 10px;
  }

/*scroll styling*/
/* ::-webkit-scrollbar {
  width: 2px !important; 
  height: 2px !important;
  border-radius: 5px !important;
}   */

.connector {
  height: 2px; 
  width: 80%;
  background-color: #000; 
  margin: 5px 0; 
}


